/* 
Reset
*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Passer d'une base 16 à une base 10 */
    html{
        font-size: 62.5%;
    }

    body{
        font-size: 1.6rem;
    }

    li{
        list-style: none;
    }

    a{
        text-decoration: none;
        color: inherit;
    }

    img{
        max-width: 100%;
    }
/**/